mat-toolbar {
  .title {
    font-size: 40px;
    font-weight: bolder;
    padding-left: 30px;
    cursor: pointer;
  }

  .orderSearch, .productSearch{
    padding-left: 60px;
  }

  .contact {
    font-size: 20px;
    display: inline-block;
    text-align: right;
    width: 90%;
  }

  .spacer {
    flex: 1 1 auto;
  }
}
