<ng-container *ngIf="userSubject$ | async as userInfo">
  <div *ngIf="userInfo">
    <button>
      <ng-container *ngIf="cartSubject$ | async as cart">
        <span *ngIf="cart.cartId;else resume">Resume</span>
        <ng-template #resume>Start</ng-template>
      </ng-container>
      shopping
    </button>
  </div>
</ng-container>
<form (ngSubmit)="loginSubmit()" #f="ngForm">
  <div>
    Registered ?
  </div>
  <div>
    <input type="email" placeholder="Email" [(ngModel)]="loginInfo.user_email" name="user_email" #user_email="ngModel"
      required>
  </div>
  <ng-container *ngIf="user_email.errors && (user_email.touched || user_email.dirty)">
    <span *ngIf="user_email.errors['required']" class="error">Missing Email</span>
  </ng-container>
  <div>
    <input type="password" placeholder="Password" [(ngModel)]="loginInfo.password" name="password" #password="ngModel"
      required minlength="3">
  </div>
  <ng-container *ngIf="password.errors && (password.touched || password.dirty)">
    <span *ngIf="password.errors['required']" class="error">Missing Password</span>
    <span *ngIf="password.errors['minlength']" class="error">Password must be more than 2 characters</span>
  </ng-container>
  <div class="error">{{errorMsg}}</div>
  <button [disabled]="user_email.errors || password.errors">Login</button>
  <div>
    <a [routerLink]="['/home','register','part1']">Signup</a> if you havent yet
  </div>
</form>
