.receiptSearch {
  background-color: yellow;
}
  
.image {
  width: 35px;
}

tr.mat-mdc-footer-row td {
  font-weight: bold;
}

.empty {
  font-size: 15px;
  width: 15px;
  height: 45px;
}

.tableContainer .mat-elevation-z8 {
  overflow-x: auto;
}
.tableContainer .mat-table.mat-table {
  min-width: 450px;
}
