Go back to the <a [routerLink]="['/home','register','part1']">last page</a>
<form (ngSubmit)="submit()">
  <h2>STEP 2</h2>
  <div>
    City:
    <select [(ngModel)]="part2.city_id" name="city_id" #city_id="ngModel">
      <option value="">Select a city</option>
      <option *ngFor="let c of cityList" [value]="c.city_id">{{c.city_name}}</option>
    </select>
  </div>
  <div>
    Street:
    <input type="text" [(ngModel)]="part2.street_name" name="street_name" #street_name="ngModel">
  </div>
  <div>
    First name:
    <input type="text" [(ngModel)]="part2.first_name" name="first_name" #first_name="ngModel">
  </div>
  <div>
    Last name:
    <input type="text" [(ngModel)]="part2.last_name" name="last_name" #last_name="ngModel">
  </div>
  <button>Submit</button>
</form>
