<div>
  Already have an account ? <button mat-stroked-button [routerLink]="['/home/login']" class="btn button">Login</button>
</div>
<form (ngSubmit)="f.valid && goToPart2()" #f="ngForm">
  <h2>STEP 1</h2>
  <div>
    <ng-container *ngIf="id_card.errors && (id_card.touched || id_card.dirty || f.submitted)">
      <mat-error *ngIf="id_card.errors['required']">ID card needs to be numbers</mat-error>
      <mat-error *ngIf="id_card.errors['min'] || id_card.errors['max']">ID card needs to have a length between 6 -
        10</mat-error>
    </ng-container>
    <mat-form-field appearance="fill">
      <mat-label>ID card number:</mat-label>
      <input type="number" matInput [(ngModel)]="part1Fields.id_card" name="id_card" #id_card="ngModel" min="100000"
        max="9999999999" required>
    </mat-form-field>
  </div>
  <div>
    <ng-container *ngIf="user_email.errors && (user_email.touched || user_email.dirty || f.submitted)">
      <mat-error *ngIf="user_email.errors['required']">user_email is required</mat-error>
      <mat-error *ngIf="user_email.errors['pattern']">Email needs to be in the correct format</mat-error>
      <mat-error *ngIf="user_email.errors['maxlength']">Email must be less than 60 characters</mat-error>
    </ng-container>
    <mat-form-field appearance="fill">
      <mat-label>Email:</mat-label>
      <input type="email" matInput [(ngModel)]="part1Fields.user_email" name="user_email" #user_email="ngModel" required
        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" maxlength="60">
    </mat-form-field>
  </div>
  <div>
    <ng-container *ngIf="password.errors && (password.touched || password.dirty || f.submitted)">
      <mat-error *ngIf="password.errors['required']">Password is required</mat-error>
      <mat-error *ngIf="password.errors['minlength']">Password must be more than 2 characters</mat-error>
      <mat-error *ngIf="password.errors['maxlength']">Password must be less than 60 characters</mat-error>
    </ng-container>
    <mat-form-field appearance="fill">
      <mat-label>Password:</mat-label>
      <input type="password" matInput [(ngModel)]="part1Fields.password" name="password" #password="ngModel"
        minlength="3" maxlength="60" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Confirm password:</mat-label>
      <input type="password" matInput [(ngModel)]="part1Fields.passwordConfirmation" name="passwordConfirmation"
        #passwordConfirmation="ngModel">
    </mat-form-field>
  </div>
  <div *ngIf="errorMsg" class="error">{{errorMsg}}</div>
  <button mat-raised-button color="basic">next ➜</button>
</form>
