<div *ngIf="amountOfOrders >= 0">
  We have finished {{amountOfOrders}} orders !!
</div>
<div *ngIf="amountOfProducts >= 0">
  You can go through {{amountOfProducts}} products here and choose the ones your like
</div>
<div class="notification">
  <hr>
  <div *ngIf="openCartDate">
    You have an open cart from {{openCartDate}}
  </div>
  <div *ngIf="lastPurchaseDate">
    Your last purchase was on {{lastPurchaseDate}}
  </div>
  <div *ngIf="customerName">
    Welcome {{customerName}}
  </div>
</div>
