.shoppingArea {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  // grid-template-rows: 1fr min-content;
  column-fill: balance;
  gap: 7px;
  padding: 10px;
  box-sizing: border-box;

  .categories {
    text-align: center;

    span {
      padding: 10px;
      cursor: pointer;
    }

    .chosenCategory {
      text-decoration: underline;
      font-weight: 700;
    }
  }

  .cart {
    border: 1px solid black;
    grid-column: span 2;
  }

  .products {
    border: 1px solid black;
    grid-column: 3/-1;

    .productList {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
