<div class="drag"><span>drag to <br> resize</span></div>
<ng-container *ngIf="{allProducts:allProducts$ | async, userInfo:userInfo$ | async} as global">
  <ng-container *ngIf="global.userInfo?.is_admin == 0; else adminView">
    <h3>My Cart</h3>
    <a *ngIf="showing == 1" routerLink="shopping/products">Continue shopping</a>
    <hr>
    <h4 *ngIf="showing == 1">To change the cart go back to the shop</h4>
    <ng-container *ngIf="cart$ | async as cart">
      <ng-container *ngIf="cart.cartProducts.length > 0 && cart.cartId; else emptyCart">
        <button *ngIf="showing == 0" (click)="emptyCartProducts(cart.cartId)" mat-button>Empty Cart</button>
        <div *ngFor="let c of cart.cartProducts" class="cartItem">
          <div>SMALL PIC</div>
          <span
            [class.receiptSearch]="receiptSearchVal && ((c.product_id | pIdToName: global.allProducts | lowercase).includes(receiptSearchVal))">
            {{c.product_id | pIdToName: global.allProducts}} -
          </span>
          <span
            [class.receiptSearch]="receiptSearchVal && ('amount:'.includes(receiptSearchVal) || c.amount.toString().includes(receiptSearchVal))">
            Amount: {{c.amount}}
          </span>
          <span
            [class.receiptSearch]="receiptSearchVal && ('price:'.includes(receiptSearchVal) || (c.total_price+'$').includes(receiptSearchVal))">
            Price: {{c.total_price}}$
          </span>
          <button *ngIf="showing == 0" (click)="deleteCartItem(c.cart_product_id)">X</button>
        </div>
      </ng-container>
      <ng-template #emptyCart>
        <h5>Your cart is empty</h5>
      </ng-template>
      <footer class="cartFooter">
        <span
          [class.receiptSearch]="receiptSearchVal && ('total cart price'.includes(receiptSearchVal) || cart.cartTotalPrice.toString().includes(receiptSearchVal))">
          Total cart price: {{cart.cartTotalPrice}}$
        </span>
        <a *ngIf="showing == 0 && cart.cartProducts.length > 0" routerLink="/shopping/order">Order</a>
      </footer>
    </ng-container>
  </ng-container>
  <ng-template #adminView>

    <h2>
      <button (click)="addProductView()" mat-raised-button>+</button>
      {{isAddingNewProduct ? 'New Product': selectedProduct?.product_name}}
    </h2>
    <hr>
    <form class="productEditOrAdd" *ngIf="isAddingNewProduct || selectedProduct; else selectMsg"
      (ngSubmit)="isAddingNewProduct ? addNewProduct(): editProduct()" #f="ngForm">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Product Name: </mat-label>
          <input type="text" matInput [(ngModel)]="adminFormFields.product_name" name="product_name"
            #product_name="ngModel">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Product price ($): </mat-label>
          <input type="number" matInput [(ngModel)]="adminFormFields.product_price" name="product_price"
            #product_price="ngModel">
        </mat-form-field>
      </div>
      <div>
        <div *ngIf="!isAddingNewProduct">
          <mat-checkbox type="checkbox" color="primary" checked [(ngModel)]="adminFormFields.keepImage" name="keepImage"
            #keepImage="ngModel">
            keep the picture same picture</mat-checkbox>
        </div>
        <div>Picture:</div>
        <div *ngIf="isAddingNewProduct || !adminFormFields.keepImage" class="input-group mb-3">
          <input type="file" class="form-control" (change)="saveImage($event)">
        </div>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Category:</mat-label>
          <mat-select [(ngModel)]="adminFormFields.category_id" name="category_id" #category_id="ngModel">
            <mat-option *ngFor="let c of categoriesList$ | async" [value]="c.category_id">
              {{c.category_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="error">{{errorMsg}}</div>
      <button mat-raised-button color="primary">Save</button>
    </form>
    <ng-template #selectMsg>
      Select a product to edit <br>
      or click the + to add a new product
    </ng-template>
  </ng-template>
</ng-container>
