<div class="drag"><span>drag to <br> resize</span></div>
<ng-container *ngIf="userInfo$ | async as userInfo">
  <ng-container *ngIf="userInfo.is_admin == 0; else adminView">
    <h3>My Cart</h3>
    <hr>
    <ng-container *ngIf="cart$ | async as cart">
      <ng-container *ngIf="allProducts$ | async as products">
        <ng-container *ngIf="cart.cartProducts.length > 0 && cart.cartId; else emptyCart">
          <button (click)="emptyCartProducts(cart.cartId)">Empty Cart</button>
          <div *ngFor="let c of cart.cartProducts" class="cartItem">
            <div>SMALL PIC</div>
            <span>{{c.product_id | pIdToName: products}} - </span>
            <span>Amount: {{c.amount}} </span>
            <span>Price: {{c.total_price}}$ </span>
            <button (click)="deleteCartItem(c.cart_product_id)">X</button>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #emptyCart>
        <h5>Your cart is empty</h5>
      </ng-template>
      <footer class="cartFooter">
        Total cart price: {{cart.cartTotalPrice}}$
        <a routerLink="">Order</a>
      </footer>
    </ng-container>
  </ng-container>
  <ng-template #adminView>
    <h2>Product Edit:</h2>
    <h3>Select a product to edit</h3>
  </ng-template>
</ng-container>
