.cartItem {
  padding: 5px;
}

.drag {
  text-align: right;
}

.cartFooter {
  padding-top: 20px;
}

.productEditOrAdd div {
  padding: 10px;
}

.receiptSearch {
  background-color: yellow;
}

ngx-mat-file-input {
  width: 80%;
}

.image {
  width: 100px;
}
  