.button {
  background-color: #99d15caa;
  font-weight: 500;
}

.close {
    background-color: #d82c32a8;
    font-weight: 400;
}

main {
  font-size: x-large;
  min-height: 35%;
}

.title {
  font-size: xx-large;
  font-weight: 600;
  padding-bottom: 30px;
}

div {
  padding-right: 20px;
  padding-left: 20px;
}

input {
  font-size: x-large;
}
