<div class="products" *ngIf="userInfo$ | async as userInfo">
  <header class="categories">
    <span *ngFor="let c of categoriesList$ | async" (click)="categoryChange(c.category_id)"
      [class.chosenCategory]="c.category_id == chosenCategoryId">
      {{c.category_name}}
    </span>
  </header>
  <div *ngIf="productsErrorMsg$ | async as error" class="error">{{error}}</div>
  <div class="productList">
    <app-single-product *ngFor="let p of productsList" [product]="p" [class.selected]="p.product_id == productIdToEdit"
      (click)="userInfo.is_admin ? selectProduct(p.product_id) : openDialog(p)"></app-single-product>
  </div>
</div>
