.order {
  padding-left: 10px;
  form {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    div {
      padding: 15px;
      input,select {
        margin-left: 8px;
      }
    }
  }
}
